<!doctype html>
<html>
<head>
     <title>Heart Rate Website</title>
</head>
<body>
    <h2>Choose The options below:</h2>
    <ol>
        <li> <a href="https://just-hook-259223.appspot.com/statistics">Statistics</a> </li>
        <li> <a href="https://just-hook-259223.appspot.com/reset">Reset</a> </li> 
    </ol>
</body>

</html>
