<!doctype html>
<html>
<head>
     <title>Heart Rate Website</title>
</head>
<body>
    <h2>Heart Rate Statistics</h2>
    <ol>
        <li>The Minimum Heart Rate is <%= minimumHearRate%></li>
        <li>The Maximum Heart Rate is <%= maximumHearRate%></li>
        <li>The Mean Heart Rate is <%= meanHearRate%></li>
        <li>The Median Heart Rate is <%= medianHearRate%></li>
    </ol>
</body>

</html>
